# Environnement virtuel Python
backend/.venv/
.venv/
env/
venv/

# Fichiers compilés Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de données locale
backend/db.sqlite3

# Variables d'environnement
.env
*.env

# Médias uploadées (optionnel)
backend/media/

# Node modules
frontend/certiuganc-frontend/node_modules/

# Build frontend
frontend/certiuganc-frontend/dist/
